<h5>会員一覧</h5>
<% @customers.each do |f|%>
  <table>
    <thead>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </thead>
    <tbody>
      <td><%= f.id %></td>
      <td><%= f.last_name %><%= f.first_name %></td>
      <td><%= f.email %></td>
      <td><%= f.is_deleted %></td>
    </tbody>
  </table>
  
  <%= link_to "会員詳細画面へ", admin_customer_path(f) %>
<% end %>